{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <title>AnaSayfa</title>
</head>
<body>
  <!--Navbar başlangıç-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <nav class="navbar bg-body-tertiary">
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="/anaweb/static/img/logo.avif" alt="logo" width="70" height="35">
              </a>
            </div>
          </nav>

          <div class="collapse navbar-collapse " id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'anaweb:Anasayfa' %}">AnaSayfa</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'anaweb:Anasayfa' %}">Hakkımızda</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'anaweb:Anasayfa' %}">Galeri</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'anaweb:Anasayfa' %}">Ekibimiz</a>
                  </li>Ej
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Çağrı Merkezi
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Eğitimler</a></li>
                  <li><a class="dropdown-item" href="#">Makaleler</a></li>
                  <li><a class="dropdown-item" href="#">Similasyon</a></li>
                </ul>
              </li>
            </ul>
          </div>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sosyal Medya
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Instagram</a></li>
              <li><a class="dropdown-item" href="#">Linkden</a></li>
              <li><a class="dropdown-item" href="#">YouTube</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">GirişYap</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Kaydol</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
   <!--Navbar bitiş-->
{%block content%}

{%endblock%}
</body>
</html>

